<div class="ms-3">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Student List</h1>
        <a routerLink="/createstudent" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i>Create Student</a>
    </div>
    
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Student details</h6>
                </div>
    
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Date of Birth</th>
                                    <th>Skill</th>
                                    <th>Department</th>
                                    <th>Country</th>
                                    <th>State</th>
                                    <th>City</th>
                                    <th>Address</th>
                                    <th>Zip</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Date of Birth</th>
                                    <th>Skill</th>
                                    <th>Department</th>
                                    <th>Country</th>
                                    <th>State</th>
                                    <th>City</th>
                                    <th>Address</th>
                                    <th>Zip</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
    
                            <tbody>
                                <tr *ngFor="let student of studentList">
                                    <td>{{student.id}}</td>
                                    <td>{{student.uname}}</td>
                                    <td>{{student.udob}}</td>
                                    <td>{{student.skill}}</td>
                                    <td>{{student.dept}}</td>
                                    <td>{{student.country}}</td>
                                    <td>{{student.state}}</td>
                                    <td>{{student.city}}</td>
                                    <td>{{student.address}}</td>
                                    <td>{{student.zip}}</td>    
                                    <td>
                                        <button [routerLink]="['/editstudent',student.id]" class="btn btn-primary btn-sm mr-2">Edit</button>
                                        <button class="btn btn-danger btn-sm" (click)="deleteData(student.id)">Delete</button>
                                    </td>
                                </tr>
                                </tbody>
    
                        </table>
                        </div>
            </div>
    
</div>

